body{
    margin: 0rem;
    font-family: consolas;
}
a{
    display: block;
    padding: 2rem;
}
/* ------------------- */
/* formatacao - header */
header{
    background-image: linear-gradient(to right, #A12FFD, #1DB5FD);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
header h2{
    display: inline;
    color: white;
}
header h1{color: white;}
header ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
header ul li{
    margin: 1rem;
    background-color: rgb(76, 177, 211);
}
/* ----------------- */
/* formatacao - main */
main{
    background-color: black;
    color: white;

    padding: 1rem;

    display: flex;
    justify-content: center;
}
.formulario_calendario{
    background-color: #0e455f;
    display: flex;
    flex-wrap: wrap;
}
.formulario_calendario div{
    background-color: blue;
}
/* ------------------- */
/* formatacao - footer */
footer{
    background-image: linear-gradient(to right, #A12FFD, #1DB5FD);
}