body{
    margin: 0rem;
    font-family: consolas;
}
a{
    padding: 2rem;
    display: block;
}
/* ------------------- */
/* formatacao - header */
header{
    background-image: linear-gradient(to right, #A12FFD, #1DB5FD);
    padding: 2rem;

    display: flex;
    justify-content: space-between;
}
header h2{
    color: white;
    display: inline;
}
header h1{color: white;}
header ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
header ul li{
    background-color: rgb(76, 177, 211);
    margin: 1rem;
}
/* ----------------- */
/* formatacao - main */
main{
    background-color: black;
    color: white;

    padding: 3rem;

    display: flex;
    justify-content: center;
}
main section{
    background-color: #0e455f;

    padding: 1rem;
    margin:  1rem;
    border-radius: 1rem;
}
/* formatacao - caixas com modalidades (id="esportes") */
    #esportes{
        width:  36rem;
        height: 36rem;

        display:   flex;
        flex-wrap: wrap;
    }
    #esportes div{
        background-color: rgb(65, 65, 145);
        width: 10rem;
        margin: 1rem;
        
        text-align:    center;
        align-content: center;
    }
/* formatacao - form e table com calendario(id="formulario_calendario") */
    #formulario_calendario table{
        background-color: black;
        padding: 1rem;
    }
    #formulario_calendario td:nth-child(1){color: red;}
    #formulario_calendario th:nth-child(1){color: red;}
    #formulario_calendario input{
        background-color: #145a7b;
    }
/* ------------------- */
/* formatacao - footer */
footer{
    background-image: linear-gradient(to right, #A12FFD, #1DB5FD);
    padding: 2rem;

    text-align: center;
}